<?xml version="1.0" encoding="utf-8"?>
<!--
Ten plik jest wykorzystywany przez proces publikowania/pakowania projektu internetowego. Możesz dostosować zachowanie tego procesu
 poprzez edycję tego pliku MSBuild. Aby dowiedzieć się więcej o tym działaniu, odwiedź stronę https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f01ab307-23f7-49a2-a557-c4ed9a112e9b/resourceGroups/Nauka/providers/Microsoft.Web/sites/MyFirstShopInASP20200831032456</ResourceId>
    <ResourceGroup>Nauka</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://myfirstshopinasp20200831032456.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>myfirstshopinasp20200831032456.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MyFirstShopInASP20200831032456</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MyFirstShopInASP20200831032456</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Db" Order="1" Enabled="False">
          <Destination Path="Data Source=(localdb)\MSSQLLocalDb;AttachDbFilename=|DataDirectory|\ShopDatabase.mdf;Integrated Security=True" Name="Server=(localdb)\MSSQLLocalDb; Integrated Security=true;AttachDbFileName=|DataDirectory|\ShopDatabase.mdf;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MyFirstShopInASP.Models.Data.Db, MyFirstShopInASP" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Db-Web.config Connection String">
      <ParameterValue>Server=(localdb)\MSSQLLocalDb; Integrated Security=true;AttachDbFileName=|DataDirectory|\ShopDatabase.mdf;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>