
﻿table.sorting tr:not(.home) {
    cursor: pointer;
}
ui-state-highline {
    border: 10px dashed #ccc;
}
span.ajax-text {
    display: none;
}

div.new-categories {
    margin-top: 80px;
    position: relative;
}
table.sorting.categories td{
    padding: 25px !important;
}
.ajax-div-td{
    position: absolute;
}